* {
    padding: 0px;
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    display: grid;
    height: 100vh;
}

header {
    border: solid black;
    grid-column: span 6;
    position: relative;
    margin: 10px;
    background-color:#0A62D0;
}

h1 {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

aside {
    grid-column: span 1;
    grid-row: span 5;
    margin: 10px;
}

label {
    font-size: xx-large;
}

form {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
}

#city {
    font-size: x-large;
    margin-bottom: 10px;
    width: 97%;
    padding: 5px;
    border-radius: 5px;
}

button {
    font-size: x-large;
    margin-bottom: 10px;
    width:100%;
    padding: 5px;
    background-color: #0A62D0;
    color: white;
    border-radius: 5px;
}

#history {
    border-top: solid gray;
    border-width: thin;
    margin: 10px;
    padding-top: 10px
}

#list-of-cities {
    background-color: lightgray;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    font-size: x-large;
    margin-bottom: 5px;
}

#section-top {
    grid-column: span 5;
    grid-row: span 2;
    border:solid black;
    margin: 10px;
    display: grid;
}

#current-city {
    margin: 10px;
    margin-bottom: 0px;
    font-size: xx-large;
}

#current-date {
    font-size: x-large;
    margin-left: 10px;
}

.top-info {
    padding-left: 10px;
    font-size: x-large;
}

#section-bottom {
    grid-column: span 5;
    grid-row: span 3;
    display: grid;
    margin: 10px;
    color: white;
}

#bottom-h2 {
    grid-column: span 5;
    color:black;
}

.cards {
    background-color:#05254d;
    grid-row: span 2;
    margin-right: 10px;
    /* margin-bottom: 200px; */
    display: grid;
    padding: 10px;
}












